*, *::after, *::before
    -webkit-box-sizing: border-box
    box-sizing: border-box
    margin: 0
    padding: 0
html
    scroll-behavior: smooth
    font-size: 16px
body
    position: relative
    font-family: 'Roboto', sans-serif
    color: #333333
    background-color: #f8f9fa
h1
    font-family: 'Fredoka One', sans-serif
h2
    font-family: 'Fredoka One', sans-serif
.wrapper
    max-width: 2560px
    width: 90%
    margin: 0 auto
.visibility
    visibility: hidden
.add-shadow
    background-color: rgba(0, 0, 0, 0.8)
.hero-shadow
    position: absolute
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.7)
    z-index: -10
.shadow-header
    position: absolute
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.8)
    z-index: -10
#talkbubble
    width: 120px
    height: 80px
    background: red
    position: relative
    border: 1px solid black
    border-radius: 10px
    &:before
        content: ""
        position: absolute
        right: 100%
        top: 26px
        width: 0
        height: 0
        border-top: 13px solid transparent
        border-right: 26px solid red
        border-bottom: 13px solid transparent
.bubble
    height: 20px
    width: 20px
    border-radius: 50%
    background-color: #aaaaaa
.slick-dots
    li 
        button:before
            font-size: 10px
.fa-bars:before
    content: "\f0c9"
    color: #fff
    font-size: 26px
.navbar-toggler
    border: none

.page-title
    color: #212121
    font-family: 'Roboto', sans-serif
nav
    -webkit-transition: all .6s
    transition: all .6s
    a
        text-transform: uppercase
        color: #eeeeee
        font-size: 1.1em
    .icon-logo
        padding-right: 5px
        color: gold
    .navbar-dark
        .navbar-nav
            .nav-link
                color: #eeeeee
    .navbar-brand
        font-family: 'Fredoka One', sans-serif
        font-size: 22px
        text-transform: uppercase
        color: #eeeeee
        text-shadow: 3px 3px 10px #212121
    .nav-link
        a
            color: #eeeeee

nav .navbar-dark:hover, nav .navbar-dark:focus
    color: #eeeeee
    

header
    .header-wrapper
        margin: 0
        padding: 0
    .header-left
        color: #ffffff
        position: relative
        height: 100vh
        background-image: url("../img/tools.jpg")
        background-position: left center
        background-size: cover
        background-repeat: no-repeat
        z-index: 0
        margin-right: 0
        padding-right: 0
        padding-left: 0
        margin-left: 0
        .btn
            border: 2px solid gold
            background: none
            font-size: 18px
            color: gold
            letter-spacing: 1px
            -webkit-box-shadow: 3px 3px -10px #333333
            box-shadow: 3px 3px -10px #333333
            -webkit-transition: background-color .2s, color .2s
            transition: background-color .2s, color .2s
            &:hover
                background-color: gold
                color: #212121
            &:active
                background-color: gold
        .left-text
            height: 100%
            width: 100%
            position: absolute
            top: 20%

            h1
                text-shadow: 3px 3px 10px #212121

            .under-title
                text-shadow: 3px 3px 5px #212121
        i
            text-shadow: 3px 3px 10px #212121
            color: gold
        .hat-ico
            position: absolute
            top: 30%
            color: gold
            text-shadow: 3px 3px 5px #212121
        .tools-ico
            position: absolute
            text-shadow: 3px 3px 5px #212121
            top: 95%
            font-size: 4em
        .header-bottom
            height: 80px
            width: 100%
            position: absolute
            bottom: 0
            background-color: #0c060686

    .header-right
        overflow: hidden
        position: relative
        display: flex
        flex-direction: column
        height: 100vh
        background-image: url("../img/header-img2.jpg")
        z-index: 0
        margin-right: 0
        padding-right: 0
        padding-left: 0
        margin-left: 0
        .rh-first
            position: absolute
            left: 5%
            top: 5%
            width: 90%
            height: 25%
            background-color: #fff
        .rh-second
            position: absolute
            left: 5%
            top: 30%
            width: 90%
            height: 45%
            background-image: url(/img/header-img.img)
        .rh-third
            position: absolute
            top: 80%
            left: 5%
            width: 90%
            height: 15%
            background-color: #aaa

        .header-content
            height: 75%
            .elo
                position: relative
                background-image: url("../img/construction.jpg")
                background-repeat: no-repeat
                background-position: center
                background-size: cover
                width: 100%
                height: 80%
                background-color: #f8f9f8
                z-index: 0
                .header-desc
                    position: absolute

              
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-items: center
                    img
                        top: 50%
                        left: 50%
                    p
                        font-size: 20px
                        color: #f8f9f0
                        text-align: center
                    .underline

                        height: 1px
                        width: 80%
                        background-color: #fff
                    .stars-container
                        i
                            font-size: 14px
                            color: gold
                    .quot
                        font-family: 'Fredoka One', sans-serif
                        font-size: 60px
                ul
                    color: #ffffff
                    text-align: center
                    li
                        font-size: 18px
                        list-style: none
                        padding: 5px 0

                    li:before
                        content: "\2714\0020"
                        color: gold

                // p
                //     position: absolute
                //     max-width: 90%
                //     color: #ffffff
                //     padding: 50px
                //     background: #ffffff09;
                //     box-shadow: 0 8px 32px 0 #a6a6aa11;
                //     backdrop-filter: blur( 4px );
                //     -webkit-backdrop-filter: blur( 4px );
                    // border-radius: 10px;
                .quote
                    i
                        color: #333333
                        text-shadow: 3px 3px 5px #dddddd
                    p
                        padding: 10px 50px
                        margin-bottom: 0
                    .right-quote
                        display: flex
                        justify-content: flex-end
                        align-items: end
                    .fa-star:before
                        content: "\f005"
                        font-size: 20px
                        padding: 0 2px
                        color: #fdd600
                        text-shadow: 0px 0px 5px solid black
            .raz
                position: relative
                width: 100%
                height: 10%
                background-color: #3378c231
                p
                    position: absolute
                    top: 50%
                    left: 50%
                    transform: translate(-50%, -50%)
                    font-size: 22px

            .dwa
                position: relative
                width: 100%
                height: 10%
                background-color: gold

                p
                    position: absolute
                    top: 50%
                    left: 50%
                    transform: translate(-50%, -50%)
                    font-size: 18px
                    font-weight: bold
        .first
            height: 75%
            padding: 0
            overflow: hidden
            .ozdoba
                height: 200px
                width: 200px
                background-color: #293241
                border-radius: 50%
            .square-left
                height: 180px
                width: 100%
                background-color: #3378c231
                -webkit-transform: skewY(135deg)
                transform: skewY(135deg)
        .second
            background-image: url(../img/img-top.jpg)
            background-size: contain
            background-repeat: no-repeat
            background-position: top
            height: 75%
            padding: 0
            overflow: hidden
            background-color: #dddddd
            .down
                position: absolute
                bottom: 0
                height: 200px
                width: 100%
                background-color: gold
                .box-contact
                    height: 100px
                    width: 100%
                    background-color: #293241
                    p
                        color: #ffffff
            .square-right
                height: 180px
                width: 100%
                background-color: #f8f9fa
                -webkit-transform: skewY(225deg)
                transform: skewY(225deg)
        .down-right
            height: 25%
            background-color: #293241
            p
                color: #ffffff
            i
                color: gold
                background-color: #3378c231
                font-size: 35px
                padding: 15px
                border-radius: 50%
                -webkit-transition: background-color .3s, -webkit-transform .9s
                transition: background-color .3s, -webkit-transform .9s
                transition: transform .9s, background-color .3s
                transition: transform .9s, background-color .3s, -webkit-transform .9s
                &:hover
                    -webkit-transform: rotate(360deg)
                    transform: rotate(360deg)
                    background-color: #3379C2
            .first-down
                position: absolute
                top: 20%
                left: 20%
                -webkit-transform: translate(-50%, 0)
                transform: translate(-50%, 0)
            .third-down
                position: absolute
                top: 20%
                left: 50%
                -webkit-transform: translate(-50%, 0)
                transform: translate(-50%, 0)
            .second-down
                position: absolute
                top: 20%
                left: 80%
                -webkit-transform: translate(-50%, 0)
                transform: translate(-50%, 0)
        img
            top: 0%
            left: 50%
            margin: 0 5%
            // -webkit-transform: translate(-50%, -50%)
            // transform: translate(-50%, -50%)
            height: 150px
            width: 150px

        p
            font-size: 18px
            color: #4a4a4a
            top: 35%
        h3
            top: 30%
            left: 50%
            -webkit-transform: translate(-50%, -50%)
            transform: translate(-50%, -50%)
        i
            bottom: 10%
            right: 20%
            color: #333333
            font-size: 50px
            text-shadow: 0 10px px #4a4a4a
        .right-square
            color: #4a4a4a
            position: absolute
            left: 0
            bottom: 0
            height: 100%
            width: 100%
            background-image: url(../img/tools.jpg)
            -webkit-clip-path: polygon(0% 100%, 0% 73%, 100% 49%, 100% 100%)
            clip-path: polygon(0% 100%, 0% 73%, 100% 49%, 100% 100%)
            z-index: -1
        .second-square
            color: #4a4a4a
            position: absolute
            left: 0
            bottom: 0
            height: 800px
            width: 100%
            background: #ffd900
            background: linear-gradient(310deg, #ffd900 0%, #c16e53 100%)
            -webkit-clip-path: circle(50% at 100% 100%)
            clip-path: circle(50% at 100% 100%)
            z-index: -1
    .hero-shadow
        position: absolute
        width: 100%
        height: 100%
        background-color: rgba(0, 0, 0, 0.6)
        z-index: -10
    .right-text
        position: absolute
        height: 100%
        color: #eeeeee
        p
            text-shadow: 3px 3px 10px #4a4a4a
        h3
            font-family: 'Fredoka One', sans-serif
            text-transform: uppercase
            text-shadow: 3px 3px 10px #4a4a4a
            color: gold
        .rating-container
            display: -webkit-box
            display: -ms-flexbox
            display: flex
            height: 50%
            width: 100%
            i
                font-size: 100px
            .img-top
                height: 150px
                width: 150px
                border-radius: 50%
                opacity: .8
                border: 1px solid gold
                -webkit-box-shadow: -10px 0 10px #212121
                box-shadow: -10px 0 10px #212121
            .top-left
                display: -webkit-box
                display: -ms-flexbox
                display: flex
                -webkit-box-pack: start
                -ms-flex-pack: start
                justify-content: start
                padding-left: 20px
                opacity: .5
            .i-gradient
                background: #ffd500
                background: radial-gradient(circle, #ffd500 0%, #212121 100%)
            p
                display: -webkit-box
                display: -ms-flexbox
                display: flex
                -webkit-box-pack: start
                -ms-flex-pack: start
                justify-content: start
                -webkit-box-align: center
                -ms-flex-align: center
                align-items: center
                font-size: 20px
                text-align: center
                color: #eeeeee
            .top-right
                display: -webkit-box
                display: -ms-flexbox
                display: flex
                -webkit-box-pack: end
                -ms-flex-pack: end
                justify-content: end
                -webkit-box-align: end
                -ms-flex-align: end
                align-items: end
                padding-right: 20px
                opacity: .5
            .star-container
                z-index: -1
        .first-title
            right: 25%
        button
            background: none
            color: gold
            border: 1px solid gold
            &:hover
                background: none
                background-color: gold
                color: #212121
                border: black
        i
            color: gold
            font-size: 30px
            text-shadow: 0px 3px 10px black
            padding-bottom: 30px
#about
    background-color: #f8f9fa
    .jumbotron
        i
            color: gold
            font-size: 30px
            text-shadow: 3px 3px 10px #212121
            -webkit-transition: -webkit-transform .3s
            transition: -webkit-transform .3s
            transition: transform .3s
            transition: transform .3s, -webkit-transform .3s
            &:hover
                -webkit-transform: scale(1.4)
                transform: scale(1.4)
        .fa-star
            color: gold
            font-size: 10px
            text-shadow: none
            &:hover
                transform: none
        h5
            color: #ffffff
            text-transform: uppercase
        .about-hero
            position: relative
            height: 100%
            background-image: url("../img/about-hero.jpg")
            background-position: top center
            background-size: cover
            background-repeat: no-repeat
            background-attachment: fixed
            z-index: 0
        .about-shadow
            position: absolute
            width: 100%
            height: 100%
            background-color: rgba(14, 12, 4, 0.801)
            z-index: -10
        .about-desc
            font-size: 15px
            color: #eeeeee
        .about-bot
            color: #212121
            height: 100%
            overflow: hidden
            i
                font-size: 25px
                padding-right: 10px
                text-shadow: none
                color: #212121
            .about-shadow2
                position: absolute
                width: 100%
                height: 100%
                background-color: rgba(14, 12, 4, 0.897)
                z-index: -10
            .about-card
                height: 400px
                background-color: #f0f0f0
                -webkit-transition: -webkit-transform .3s
                transition: -webkit-transform .3s
                transition: transform .3s
                transition: transform .3s, -webkit-transform .3s
                border-radius: 5px
                .about-card-top
                    background-color: #5e5c5c
                    color: #f0f0f0
                .bottom-card
                    width: 100%
                .fa-water
                    &:before
                        content: "\f773"
                        padding: 0 10px
                        font-size: 30px
                        border-radius: 50%
                        color: blue
                .about-card
                    &:hover
                        -webkit-transform: scale(1.1)
                        transform: scale(1.1)
            .right-card
                background-color: #eeeeee
                height: 400px
                background-image: url("/img/zdj1.jpg")
                background-position: center center
                background-size: cover
                background-repeat: no-repeat
                z-index: 0
            .right-card-2
                background-color: #eeeeee
                height: 400px
                background-image: url("/img/lazienka.jpg")
                background-position: center center
                background-size: cover
                background-repeat: no-repeat
                z-index: 0
            .right-card-3
                background-color: #eeeeee
                height: 400px
                background-image: url("/img/gaz.jpg")
                background-position: center center
                background-size: cover
                background-repeat: no-repeat
                z-index: 0
            .right-card-4
                background-color: #eeeeee
                height: 400px
                background-image: url("/img/elektryczna.jpg")
                background-position: center center
                background-size: cover
                background-repeat: no-repeat
                z-index: 0
    h3
        color: #4a4a4a
    
    .testimonials-first
        position: relative
        height: 325px
        width: 200px
        background: #fff
        text-align: center
        padding: 30px 30px 50px
        margin: 0 15px 100px
        // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px
    .testimonials-first:before
        &:after
            content: ''
            border-top: 40px solid #fff
            border-right: 125px solid transparent
            position: absolute
            bottom: -40px
            left: 0
    .testimonials-first:after
        border-right: none
        border-left: 125px solid transparent
        left: auto
        right: 0
    .pierdolnik
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        height: 100%
        clip-path: polygon(50% 82%, 0% 100%, 100% 100%);
        background-color: #f8f9fa

    
    .testimonials-first
        .icon
            display: inline-block
            font-size: 80px
            padding: 15px
            border: 1px solid transparent
            border-radius: 50%
            background-color: #f8f9fa
            color: #212529
            margin-bottom: 20px
            opacity: 0.5
        .testimonials-text
            font-size: 15px
            color: #777
            text-align: 
            margin-bottom: 30px
            opacity: 0.8
        // .testimonials-content
        //     width: 100%
        //     position: absolute
        //     left: 0
        .testimonials-content
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            .pic

                height: 50px
                width: 50px
                display: inline-block
                background-color: #f8f9fa
                border: 2px solid #fff
                border-radius: 50%
                box-shadow: 0 0 2px 2px #f8f9fa
                overflow: hidden
                z-index: 1
            .letter
                color: #aaa
                line-height: 1.5
                font-size: 30px
                text-shadow: 0px 0px 0px 
                
            .remont-type
                font-size: 13px
                color: #5a5a5a
            .badge
                background-color: green
                margin-left: 4px
            
        .test-title
            font-size: 15px
            letter-spacing: 1px
            color: #4a4a4a
            text-transform: capitalize
            margin: 0 0 5px 0
            padding-top: 5px

        

    .info-pomiar
        h5
            color: #333333
            font-weight: bold
        .divider
            height: 15px
            width: 15px
            border-radius: 50%
            background-color: #333333
#desc
    h2
        font-family: 'Roboto', sans-serif
    .container-descripton
        background-color: #fff
        border: 1px solid #eeeeee
        color: #4a4a4a
        .desc-item
            display: flex
            flex-direction: column
            min-height: 500px
            p
                align-items: end
        i
            font-size: 2em
            border-radius: 50%
            padding: 1.5rem
            color: #1389fd
            background-color: #e7f8ff
        img
            padding: 0

#gallery
    h2
        font-family: 'Roboto', sans-serif
    .wrapper
        max-width: 2560px
        width: 80%
        margin: 0 auto
    .carousel

        .slick-next
            right: -10px
        .slick-next:before
            font-family: 'slick'
            font-size: 35px
            line-height: 1
            opacity: .75
            color: #4a4a4a
            -webkit-font-smoothing: antialiased
            -moz-osx-font-smoothing: grayscale

        .slick-prev:before
            font-family: 'slick'
            font-size: 35px
            line-height: 1
            opacity: .75
            color: #4a4a4a
            -webkit-font-smoothing: antialiased
            -moz-osx-font-smoothing: grayscale

        a
            height: 500px
            position: relative
            margin-top: 30px
            img
                position: absolute
                left: 50%
                top: 50%
                transform: translate(-50%, -50%)

#carouselExampleCaptions
    .carousel-item
        position: relative
        height: 500px
        img
            position: absolute
            top: 50%
            left: 50%
            -webkit-transform: translate(-50%, -50%)
            transform: translate(-50%, -50%)
    i
        font-size: 3.25rem
    .carousel-caption
        position: absolute
    .caption-title
        position: absolute
        color: #ffffff
        text-shadow: 0 1px 2px #1a1616
        bottom: 0
        left: 20%
        // background: #ffffff11
        // -webkit-box-shadow: 0 8px 32px 0 #d3d4db5e
        // box-shadow: 0 8px 32px 0 #d3d4db5e
        // backdrop-filter: blur(4px)
        // -webkit-backdrop-filter: blur(4px)
        // border-radius: 10px
    .carousel-indicators
        bottom: -50px
        li
            width: 10px
            height: 10px
            border-radius: 100%
            background-color: #333333
.material-info
    overflow: hidden
    background-color: #ffffff
    border: 1px solid #eeeeee
    color: #4a4a4a
    img
        max-height: 100px
        max-width: 100px
footer
    color: #ffffff
    .underline-footer
        position: relative
        margin: 0 auto 20px
        // margin-top: 7px
        height: 1px
        width: 100px
        background-color: gold
        .underline-box
            position: absolute
            right: 0
            height: 3px
            width: 20px
            background-color: gold

    .fa-star:before
        content: "\f005"
        font-size: 10px
        padding: 0 1px
        color: #fdd600
        text-shadow: 0px 0px 5px solid black
    h5
        color: #eeeeee
    .footer-desc
        background-color: #f8f9f8
        color: #333333
    .nav-link
        color: #f8f9fa
        transition: color .3s
        &:hover
            color: gold

        p
            margin-bottom: 0
    .footer-hero
        position: relative
        height: 100%
        background-color: #293241
        margin-right: 0
        padding-right: 0
        padding-left: 0
        margin-left: 0
        z-index: 10
    .footer-title
        text-align: center
        font-family: 'Fredoka One', sans-serif
        font-size: 22px
        text-transform: uppercase
        color: #ffffff
        text-shadow: 3px 3px 10px #212121
    .icon-logo
        padding-right: 5px
        color: gold
    .left-element

        .text-content
            text-align: center
            font-size: 14px
        a
            left: 50%
            top: 0
            -webkit-transform: translate(-50%, 0)
            transform: translate(-50%, 0)
        .fa-facebook-square
            font-size: 30px
            padding: 10px
            color: #ffffff
            -webkit-transition: color .3s, -webkit-transform .9s
            transition: color .3s, -webkit-transform .9s
            transition: transform .9s, color .3s
            transition: transform .9s, color .3s, -webkit-transform .9s
            &:hover
                color: #eeeeee9d
                -webkit-transform: rotate(360deg)
                transform: rotate(360deg)
    .right-footer
        i
            padding: 10px
            border-radius: 50%
        .fa-at
            background-color: red
        .fa-phone
            background-color: green
    .footer-item
        // .tel-box
        //     position: absolute
        //     top: 25%
        //     left: 50%
        //     -webkit-transform: translate(-50%, -50%)
        //     transform: translate(-50%, -50%)
        // .mail-box
        //     position: absolute
        //     top: 45%
        //     left: 50%
        //     -webkit-transform: translate(-50%, -50%)
        //     transform: translate(-50%, -50%)

// @media (min-width: 1370px)
//     #desc
//     .container-descripton
//         img
//             max-width: 100%
//             height: auto
